body {
    margin: 0;
}
#main {
    background-color: lightgoldenrodyellow;
    width: 50%;
    height: 50vh;
    margin: auto;
    margin-top: 10%;
    text-align: center;
    justify-content: center;
    border: 2px solid black;
    border-radius: 10px;
}
#main,
button {
    text-align: center;
    justify-content: center;
    padding: 20px 20px;
    margin-bottom: 20px;



}
#main,
h1 {
    text-align: center;
    justify-content: center;
    margin-bottom: 40px;
}
button {
    border: 1px solid black;
    border-radius: 10px;
    font-size: 20px;
    margin-bottom: 50px;

}
button:hover {
    background-color:lightseagreen;
    color: blue;
    transition: 0.5s;
    
}

#math,a
{
    font-size: 30px;
    color: red;
    
    
    
    
   

}